<h1>Información del proceso</h1>
<ul>
    <li>
        <strong>Argumento de entrada:</strong> <%=info.arg%>
    </li>
    <li>
        <strong>Path de ejecución:</strong> <%=info.ejec%>
    </li>
    <li>
        <strong>Sistema operativo:</strong> <%=info.sop%>
    </li>
    <li>
        <strong>Process ID:</strong> <%=info.procId%>
    </li>
    <li>
        <strong>Versión de Node JS:</strong> <%=info.nodeVers%>
    </li>
    <li>
        <strong>Memoria total reservada (RSS):</strong> <%=info.memoRss%>
    </li>
</ul>