<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include ('./products.ejs') %>

    <%-include ('./chat.ejs')%>

    <% for (const items of messages) { %>
        <span style="color:blue"><strong><%= items.user %> dice:</strong></span>
        <span style="color:green"><i><%= items.message %></i></span>
        <span style="color:brown">[<%= items.time %>]</span>
    <br>
    <% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./main.js"></script>
    <script src="./index.js"></script>
</body>
</html>